In [1]:
def func():
  return 1+4
     

a = func
     

a()

5

In [ ]:
#lambda Expressions
1+2

In [2]:
"jatin" * 2

'jatinjatin'

In [3]:
lambda a,b:a+b

In [4]:
print("Hello World")

Hello World

In [5]:
show = print
     

show("something")

something

In [6]:
names=["jatin","saransh","shubham","samarth"]
for name in enumerate(names):
  print(name)

(0, 'jatin')
(1, 'saransh')
(2, 'shubham')
(3, 'samarth')

In [7]:
for a in enumerate(names):
  print(a[0],a[1])

0 jatin
1 saransh
2 shubham
3 samarth

In [8]:
for i, name in enumerate(names):
  print(i,"-",name)

0 - jatin
1 - saransh
2 - shubham
3 - samarth

In [9]:
names=["jatin","saransh","shubham","samarth"]
scores=[50,80,90,70]
states=["delhi","punjab","punjab","punjab"],
for name,score, state in zip(names,scores,states):
  print(name,"-",score,state)

jatin - 50 ['delhi', 'punjab', 'punjab', 'punjab']

In [10]:
a=1,2
     

print(type(a))

<class 'tuple'>

In [11]:
a=5
b=9
a,b=b,a
print(a,b)

9 5

In [12]:
a=5
b=9
temp=a
a=b
b=temp
print(a,b)

9 5

In [ ]:
a=5
b=9
a=a+b
b=a-b
a=a-b
print(a,b)